<div cdkDropListGroup>
  <div class="example-container">
    <h2>To do</h2>

    <div
      cdkDropList
      [cdkDropListData]="todo"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
    </div>
  </div>

  <div class="example-container">
    <h2>Done</h2>

    <div
      cdkDropList
      [cdkDropListData]="done"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
    </div>
  </div>
</div>











































<!--<div cdkDropListGroup>
  <div class="example-container" *ngFor="let item of tasksData | keyvalue:keepOriginalOrder">
    <h2>{{item.key}}</h2>

    <div cdkDropList [cdkDropListData]="item.value" (cdkDropListDropped)="drop($event)" class="example-list">
      <div class="example-box" *ngFor="let task of item.value" cdkDrag>{{task.title}}</div>
    </div>

    &lt;!&ndash;<div class="example-container" *ngFor="let task of item.value">
      {{task.title}}
    </div>&ndash;&gt;
  </div>
  &lt;!&ndash;<div class="example-container">
    <h2>To do</h2>

    <div
      cdkDropList
      [cdkDropListData]="todo"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
    </div>
  </div>

  <div class="example-container">
    <h2>Done</h2>

    <div
      cdkDropList
      [cdkDropListData]="done"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
    </div>
  </div>

  <div class="example-container">
    <h2>Done</h2>

    <div
      cdkDropList
      [cdkDropListData]="test"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of test" cdkDrag>{{item}}</div>
    </div>
  </div>&ndash;&gt;
</div>-->


