::ng-deep .edit-modal {
  mat-dialog-container {
    padding: 0;
  }
}

.modal-text {
  margin-top: 5px;
}

.modal-subtext {
  font-size: 13px;
  margin: 0;
}

.modal-description {
  max-height: 350px;
  overflow: auto;
}
