.header {
  background-color: #3A6ED4;
  height: 68px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__text {
    color: white;
    margin-right: 10px;
  }
}

app-button {
  margin-left: 20px;
}

.board-icon {
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}


